@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@media (max-width: 600px) {
  .ais-Hits-item {
    padding-left: 19px;
  }
  #search-box {
    width: 100%;
  }
  header {
    top: 0;
  }
  #sub-categories {
    padding-left: 0px;
  }
  .hit-results {
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto, "Open Sans", sans-serif;
}

a[role="button"] {
  color: aliceblue;
  background-color: #001001;
  border-style: none;
  border-radius: 25px;
  padding: 2px;
}

.hit-results {
  display: -webkit-flex;
  display: flex;
}

.column {
  padding: 10px;
  height: 300px;
}

#sub-categories {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 60px;
}

.column-middle {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  border-right: 1px solid black;
}

h1 {
  text-align: center;
  position: relative;
}

header > div {
  float: left;
}

ol {
  display: flex;
  display: -webkit-flex;
}

li {
  list-style: none;
}

li > div {
  margin-bottom: 5px;
  margin-right: 40px;
}

.sizer {
  width: 150px;
  height: 200px;
}

#search-box {
  text-align: center;
}

.search-box-celestino {
  position: relative;
  border: none;
  width: 300px;
  outline: none;
  background-color: rgb(231, 229, 229);
  border-radius: 25px;
  height: 28px;
  text-shadow: none;
  padding-left: 30px;
}

a {
  text-decoration: none;
  color: black;
}

.ais-RefinementList-list {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
}

.ais-RefinementList-item {
  text-decoration: none;
  text-transform: none;
}

.ais-RefinementList-showMore {
  border-radius: 12px;
  background-color: white;
  color: black;
  border: 1px solid #444;
}

.caption {
  width: 150px;
  display: block;
  font-size: 14px;
}

.box {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

.ais-Hits-list {
  padding: 0;
  flex-wrap: wrap;
}

#color-list {
  padding-bottom: 10px;
}

#category-list {
  padding-bottom: 10px;
}

#gender-list {
  padding-bottom: 10px;
}

.hit-name > div {
  color: #444;
}

.hit-name {
  padding-left: 2px;
}

#search-with-glass {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: flex-start;
}

#search-with-glass > i {
  position: absolute;
  height: 3px;
  width: 3px;
  top: 6px;
  left: 6px;
  color: rgb(116, 114, 114);
}
